<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todos los productos</h1>
    <% if (productArray) { %>   
    <ul>

        <% productArray.forEach(product => { %>
            <li>
                <p>Nombre: <%=product.name  %></p>
                <p>Precio: <%=product.price  %>€ </p>
            </li>

        <% }) %> 

    </ul>
    <% } %>
</body>
</html>